.ice-layout {
  .ice-layout-aside {
    background-color: transparent !important;

    .next-nav {
      background-color: transparent !important;
      .next-nav-item {
        background-color: transparent !important;
        border-radius: $corner-1;
        &.next-open {
          background-color: transparent !important;
        }
        &.next-selected, &:hover {
          background-color: $color-brand1-6 !important;
          &::before {
            display: none;
          }
        }
      }
    }

    .next-nav .next-nav-item.next-menu-item {
      background: transparent;
      color: white;
    }

    i ~ .ice-menu-collapse {
      margin-left: 5px;
    }
  }

  .next-nav .next-menu-item-text i {
    margin-right: 8px;
    font-weight: 500;
  }

  .collapse-btn {
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }

  .menu-btn {
    position: fixed;
    left: 0;
    top: 82px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 0 6px 6px 0;
    color: #fff;
    background: #2077ff;
    text-align: center;
    cursor: pointer;
    z-index: 9;
    text-decoration: none;
    &:hover {
      color: #e7e7e7;
    }
  }
}

@media screen and (max-width: 1199px) {
  .ice-design-layout-aside {
    position: fixed;
    left: -256px;
    top: 0px;
    bottom: 0;
    padding: 0 20px;
    background: #2e323e !important;
    z-index: 9999;
  }

  .open-drawer {
    transform: translateX(256px);
    .logo {
      width: 200px;
      margin: 20px 0;
      text-align: center;
    }
  }
}

.next-nav-icon.next-icon:before {
  width: 16px;
  font-size: 16px;
  line-height: inherit;
}
